# This file inherit from the admin.ini
# You need to create your  user.ini file and configure it on your need 
# To success you authentication you need to use the local LDAP

[DEFAULT]
no_verify=1
# targetting docker-compose instance.
host=http://127.0.0.1:8080
# host=https://user.linshare.local
email=peter.wilson@linshare.org
amy_email=amy.wolsh@linshare.org
password=secret
# For some tests of upload request we will use an external users to test the external api
email_external1=external1@linshare.org
password_external1=password1
email_external2=external2@linshare.org
password_external2=password2
email_external3=external3@linshare.org
email_external4=external4@linshare.org
email_external5=external5@linshare.org

[ADMIN]
email=root@localhost.localdomain
password=adminlinshare

[FUNCTIONALITIES]
count=48
