# This file inherit from the admin.ini
# You need to create your  user.ini file and configure it on your need 

[DEFAULT]
host=https://user.linshare.local
email=amy.wolsh@int6.linshare.dev
password=secret